{% extends "base.html" %}
{% block content %}

<div class="text-center">
     <img src="{{ url_for('static', filename='img/clipboard.png') }}"
          style="width: 50%;"
          alt="Clipboard illustration">
</div>

<div class="container text-center py-3">
     <div class="row justify-content-center">
          <div class="col-12 col-md-8 col-lg-8 col-xl-8">
               <h1>Welcome to the <span class="taskTheme">TasksTrackr&trade;</span></h1>
               <h3>Your Smart Must-Do List</h3>
          </div>
     </div>
</div>

<div class="container mt-4">
     <div class="row justify-content-center mt-4">
          <div class="col-12 col-md-8 col-lg-8 col-xl-8 mx-auto">
               <div class="card shadow-sm">
                    <div class="card-body">
                         <h5 class="my-3">Please Login</h5>
                         <form method="POST"
                              action="{{ url_for('login') }}"> <!-- Python def login():  -->
                              <input type="hidden"
                                   name="csrf_token"
                                   value="{{ csrf_token() }}">

                              <!-- Username -->
                              <div class="form-floating mb-3">
                                   <input id="username"
                                        name="username"
                                        type="text"
                                        minlength="5"
                                        maxlength="30"
                                        pattern="^[A-Za-z0-9_]{5,30}$"
                                        class="form-control"
                                        required>
                                   <label for="username">Username</label>
                              </div>

                              <!-- Password -->
                              <div class="form-floating mb-3">
                                   <input id="password"
                                        name="password"
                                        type="password"
                                        minlength="6"
                                        maxlength="128"
                                        class="form-control"
                                        required>
                                   <label for="password">Password</label>
                              </div>

                              <!-- Submit -->
                              <div class="d-grid">
                                   <button type="submit"
                                        class="btn btn-secondary btn-lg">
                                        Login <i class="bi bi-box-arrow-in-right"></i>
                                   </button>
                              </div>

                         </form>
                    </div>
               </div>
          </div>
     </div>
</div>

{% endblock %}
